Motores/Flow
[{"id":"5b9c173345e7c55e","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"90486356b104291f","type":"ui_slider","z":"5b9c173345e7c55e","name":"","label":"Velocidad","tooltip":"","group":"d41432c2c7a6229a","order":0,"width":0,"height":0,"passthru":true,"outs":"all","topic":"topic","topicType":"msg","min":"20","max":"100","step":1,"className":"","x":240,"y":120,"wires":[["9c6fd6694fdeb2ba","662efb44afc0fbb4","581898d221b5df05"]]},{"id":"9c6fd6694fdeb2ba","type":"debug","z":"5b9c173345e7c55e","name":"debug 1","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"Velocidad","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":120,"wires":[]},{"id":"662efb44afc0fbb4","type":"rpi-gpio out","z":"5b9c173345e7c55e","name":"Vel Motor","pin":"27","set":"","level":"0","freq":"","out":"pwm","bcm":true,"x":640,"y":240,"wires":[]},{"id":"581898d221b5df05","type":"rpi-gpio out","z":"5b9c173345e7c55e","name":"Vel Motor","pin":"23","set":"","level":"0","freq":"","out":"pwm","bcm":true,"x":640,"y":320,"wires":[]},{"id":"e45944accda2dcac","type":"ui_button","z":"5b9c173345e7c55e","name":"","group":"d41432c2c7a6229a","order":1,"width":0,"height":0,"passthru":false,"label":"Adelante","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"adelante","payloadType":"str","topic":"topic","topicType":"msg","x":240,"y":360,"wires":[["0e619513a36f88b7"]]},{"id":"0e619513a36f88b7","type":"function","z":"5b9c173345e7c55e","name":"Adelante Atras","func":"var input = msg.payload\nvar adelante = { payload: 0, topic: \"topic\"};\nvar atras = { payload: 0, topic: \"topic\"};\n\nif(input ==  \"adelante\") \n{\n    adelante.payload = 1;\n}\nelse if (input ==  \"atras\")\n{\n    atras.payload = 1;\n}\n\nelse if (input == \"stop\") {\n    adelante.payload = 0;\n    atras.payload = 0;\n}\n\nreturn [adelante, atras];","outputs":2,"timeout":0,"noerr":0,"initialize":"","finalize":"","libs":[],"x":580,"y":420,"wires":[["33502ac728bad9cc"],["5bdf58353aca5d69"]]},{"id":"5bdf58353aca5d69","type":"rpi-gpio out","z":"5b9c173345e7c55e","name":"pin2","pin":"22","set":"","level":"0","freq":"","out":"out","bcm":true,"x":890,"y":480,"wires":[]},{"id":"33502ac728bad9cc","type":"rpi-gpio out","z":"5b9c173345e7c55e","name":"pin1","pin":"13","set":"","level":"0","freq":"","out":"out","bcm":true,"x":890,"y":400,"wires":[]},{"id":"2d3a823eb8344fd3","type":"ui_button","z":"5b9c173345e7c55e","name":"","group":"d41432c2c7a6229a","order":3,"width":0,"height":0,"passthru":false,"label":"Stop","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"","payloadType":"str","topic":"topic","topicType":"msg","x":270,"y":480,"wires":[["0e619513a36f88b7"]]},{"id":"a47470ee252e3605","type":"ui_button","z":"5b9c173345e7c55e","name":"","group":"d41432c2c7a6229a","order":3,"width":0,"height":0,"passthru":false,"label":"Atras","tooltip":"","color":"","bgcolor":"","className":"","icon":"","payload":"atras","payloadType":"str","topic":"topic","topicType":"msg","x":250,"y":420,"wires":[["0e619513a36f88b7"]]},{"id":"d41432c2c7a6229a","type":"ui_group","name":"Xrove","tab":"cf2575b2117c78ab","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"cf2575b2117c78ab","type":"ui_tab","name":"Home","icon":"dashboard","disabled":false,"hidden":false}]
